.BookmarkTitle,footer
{
    color:#aaa;
    font-weight: 700;
}
.BookmarkTitle
{
    font-size: 29px;
}
footer{
    font-size: 14px;
}
.bookmarkFormContainer
{
    border-color: #999 !important;
}
.bookmarkFormContainer label
{
    color:#333;
    font-weight: 700;
}
.bookmarkFormContainer input,.forValidation
{
    width: 80%;
    margin: auto;
    height: 5%;
}
.bookmarkFormContainer input
{
    
    border:1px solid #DDD;
    transition: all 0.2s;
}
.bookmarkFormContainer input:hover
{
    box-shadow: 0px 0px 8px rgb(87, 87, 87);
}
.bookmarkFormContainer .form-control:focus
{
    border-width: 2px;
    border-color: #000 !important;
    box-shadow: none;
}
.bookmarkFormContainer a
{
    transition: 0.2s;
}
.bookmarkFormContainer button:hover, .bookmarkFormContainer a:hover 
{
    box-shadow: 0px 5px 8px #000 !important;
}
.bookmark
{
    background-color: rgb(238, 238, 238);
}
.formTitle
{
    font-size: 24px;
    font-weight: 700;
}

.inner
{
    width:45%
}
.forEvent
{
    background:linear-gradient(to top,rgba(238, 238, 238,0),rgba(238, 238, 238,1)) !important;
}
.forValidation
{
    background-color: #FFB2B2;
    color:#6d0000;
    border:1px solid #6d0000;
    font-weight: 700;
    font-size: 18px;
    border-radius: 5px;
    display: none;
}